body, html {
  background-image: url("home.jpg");
  height: 100%;
  font-family: cursive;
}

%message {
  font-size: 20px;
  margin-top: 40px;
}

.message1 {
  @extend %message;
  text-align: center;
  color: red;
}

.message2 {
  @extend %message;
  text-align: left;
  color: black;
  font-style: bold;
  margin-bottom: 20px;
}

header {
  text-align: center;
  color: white;
  font-size: 28px;
  padding-top:5px;
  padding-bottom:5px;
  background-color: black;
}
nav {
  text-align: right;
  margin-right: 10px;
  a {
    color: black;
    margin-right: 10px
  }
}

h3 {
  text-align: left;
  color: black;
}
h3:hover {
  color: blue
}

.form-row {
  width:100%
}

td {
  a {
    color: black;
  }
  a:hover {
    color:yellow;
  }
  th {
    text-align: center;
  }
  tr {
    text-align: center;
  }
}

.rating {
  color:red;
  font-size: 20px;
}

.review {
  margin-left: 20px;
  margin-bottom: 10px;

  .review-username {
    font-size: 16px;
    font-weight: bold;
  }

  .review-review {
    font-size: 18px;
    text-align: left;
  }
}


$text-align:center;

.label {
  text-align: $text-align;
  margin-bottom: 20px;
}

.row {
  text-align: $text-align;
}


.goodread {
  text-align: $text-align;
  font-weight: bold;
  font-size: 20px;
}
